git-through-studio/src/main/mule/git-through-studio.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e3b03af5-6b4c-4497-b65c-257b2528a404" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-through-studioFlow" doc:id="0b7e5c7a-fcd6-41c5-9fbd-a41ab6f6df61" >
		<http:listener doc:name="Listener" doc:id="1ce800be-e93a-4cf9-afa3-19cc7e31bdf1" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="bfb060cc-f3c8-4254-a672-144b2d5ffe39" message='#["hii world"]'/>
	</flow>
</mule>
